@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
  background-color: #a8dd7c;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  line-height: 1.5;

}

main {

  font-family: 'Rubik', sans-serif;
  max-width: 80%;
  margin: 0 auto;
  /*min-width:;*/
  /* margin-left : 15px; */
  /* padding-top: 100px; */
}

h1 {
  font-family: 'Rubik', sans-serif;
  /* padding: 3em 5em 3em 5em; */
  padding-top: 10px;
  /* margin-left: 20px; */
  /* margin-left: 2px;  */
  color: #011c2b;
  text-align: center;
  text-transform: uppercase;
  background-color: antiquewhite;
}

#hueco {
  height: 100px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  /* padding: 3em 5em 3em 5em; */
  padding-top: 20px;

  /* margin-left: 20px; */
  /* margin-left: 2px;  */
  color: #011c2b;
  text-align: left;
  text-transform: uppercase;
  background-color: antiquewhite;
}

a {
  color: #a30cb1;
}

p {
  line-height: 1.5;
  font-family: "Roboto", "SUSE", "Bungee Static", "oi", sans-serif;
}

/* posicion, fondo y linea inferior de nav */
nav {
  position: sticky;
  top: 0px;
  /*bottom: 40px;*/
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px solid rgb(26, 61, 177);
  background-color: #f2f5f7;
  z-index: 100;
  font-family: 'Rubik', sans-serif;
}

nav ul {
  display: flex;
  gap: 70px;
  /*espacio entre elementos*/
}

nav img {
  height: 50px;
  width: 50px;
  transition: 0.3s ease;
}

nav img:hover {
  transform: rotate(360deg);
  /*transform: scale(1.2);*/
}

nav li {
  list-style: none;
}

nav li a:hover {
  background-color: #092beb;
  color: #dfd3d4;

}

nav li a {
  padding: 8px 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: none 200ms ease-out;
  color: rgb(26, 61, 177);
}


/* escondo el cuadrado del checkbox */
#menu {
  display: none;
}

/* redimensiono el icono de hamburguesa */
nav svg {
  width: 50px;
  height: 50px;
}

/* escondo el logo y la lista */
.menu-desplegable {
  display: none;
}

/* cuando el checkbox está marcado, hago el logo y la lista visibles */
input:checked~.menu-desplegable {
  display: block;
  text-align: center;
}

/* redimensiono el logo */
/* nav a img {
    width: 30%;
} */

/* quito los estilos predeterminados de la lista */
ul.menu-desplegable {
  list-style: none;
  padding: 0;
}

/* añado separacion a los elementos de la lista */
ul.menu-desplegable li {
  padding: 0.5em;
}

/* pongo estilo a los enlaces de la lista */
ul.menu-desplegable a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4E75FF;
  font-size: 1.5em;
  padding: 0.2em 0.4em;
}

/* cambio los estilos de los enlaces cuando el cursor esta sobre ellos */
ul.menu-desplegable a:hover {
  background-color: #4E75FF;
  color: white;
}

/* Pongo las noticas con imagen float a la izquierda, derecha o ninguno */
div.noticia {
  max-width: 80vw;
  /* height: 100vw; */
  margin: 0px 0px 40px 0px;
  line-height: 1.5;
  background-image: url("../image/pngtree-forest-leaves-in-the-rain-beautiful-scenery-green-natural-background-picture-image_2423472.jpg");
  /* background-image:  url("../image/un-entorno-rural-tranquilo-la-luz-del-dia.jpg"); */
  /* border: 0px 0px 2px 0px solid #a8dd7c;  */
  background-repeat: no-repeat;
  /* background-position:  50% 50%; */
  background-position: center 10%;
  background-size: 100%;
  backdrop-filter: blur(30px);
}

.noticia__img--none {
  display: block;
  margin: auto;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  border: 2px solid #a8dd7c;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  /* Sombra con desplazamiento y desenfoque */
  filter: grayscale(50%);
}


.noticia__img--left {
  width: 40vw;
  float: right;
  margin: 10px 0px 10px 20px;
  overflow: hidden;
}

.noticia__img--rigth {
  width: 40vw;
  float: left;
  margin: 10px 20px 10px 0px;
  overflow: hidden;
}

/* estilo del contenedor */
.galeria {
  width: 580px;
  /* width: 535px; */
  /* debemos dar un ancho fijo */
  margin: 20px auto;
  overflow: hidden;
  /* ocultamos lo que sobresalga de las imágenes del contenedor*/
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 7px solid rgba(189, 188, 188, 0.6);
}

/* estilo para las imágenes de la galería */
.galeria figure {
  position: absolute;
  /* hace que se superpongan las imágenes */
  top: 0;
  /* colocamos todas arriba */
  left: 50px;
  /* !!Ancho de la parte visible!! */
  width: 335px;
  /* width: 350px; */
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* estilo inicial para la primera imagen. > selector de hijo directo */
.galeria>figure {
  position: relative;
  left: 0 !important;
}

.galeria img {
  display: block;
  width: 100%;
}

/* estilo para los "controles de navegación" */
.galeria input {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  /* para cubrir la parte visible de la imagen */
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* escondemos el input cuando está seleccionado */
.galeria input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}

/* mueve las imagenes a la izquierda. ~ selecciona los hermanos siguientes al elemento */
.galeria input:checked~figure {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  left: 335px;
}

/* estilo para la descripción de las imágenes */
.galeria figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.galeria figcaption span {
  position: absolute;
  top: 40%;
  margin-top: -30px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  text-align: center;
  background: rgba(87, 73, 81, 0.3);
  line-height: 20px;
  font-size: 18px;

  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.galeria input:checked+figcaption,
.galeria input:checked:hover+figcaption {
  background: rgba(87, 73, 81, 0);
}

/* hacemos visible el texto de descripción. + selector de hermano adyacente */
.galeria input:checked+figcaption span {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;
  top: 50%;
}

.galeria #ia-selector-last:checked+figcaption span {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* sombra al hacer hover sobre input */
.galeria input:hover+figcaption {
  background: rgba(87, 73, 81, 0.3);
}

.galeria input:checked~figure input {
  z-index: 1;
}

figure {
  margin: 0;
}


@media screen and (min-width:521px) and (max-width: 720px) {
  .galeria {
    width: 540px;
  }

  .galeria figure {
    left: 40px;
    width: 260px;
  }

  .galeria input {
    width: 40px;
  }

  .galeria input:checked~figure {
    left: 260px;
  }

  .galeria figcaption span {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .galeria {
    width: 320px;
  }

  .galeria figure {
    left: 20px;
    width: 180px;
  }

  .galeria input {
    width: 20px;
  }

  .galeria input:checked~figure {
    left: 180px;
  }

  .galeria figcaption span {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: -20px;
  }
}



footer {
  border-top: 4px solid #09862e;
  background-color: #b9b0b0;
  color: #0e0000;
  padding: 20px;
  /* margin-top: 10px; */
  text-align: left;
  height: auto;
  /* width: 100vw; */
  /*background-color: #06301c;*/
  background-image: linear-gradient(55deg, rgb(165, 221, 184) 0%, rgb(33, 241, 120) 70%);
  /*paddding: 50%;*/
  max-width: 100%;


}

footer div img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  border-radius: 50px 5px 70px 7px;
}

#botones {
  display: flex;
  flex-wrap: wrap;
  /*salta linea*/
  /* justify-content: space-between;
  max-width: 80vw;
  margin: auto; */

}

#indicador {
  width: 15px;
  height: 30px;
  /* border-radius: 100%;
  border: 1px solid rgb(146, 5, 34);*/
  /* padding: 5px; */
  /*background-color: #f2f5f7; */
  position: relative;

  bottom: 40px;
  right: 40px;
}

#boton-arriba2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(146, 5, 34);
  padding: 5px;
  background-color: #f2f5f7;
  position: fixed;
  bottom: 30px;
  right: 25px;
}

#boton-arriba2:hover {
  background-color: #09031f;
  border-style: none;
  width: 43px;
  height: 43px;
  z-index: 1;
}


@media screen and (min-width:1000px) {
  .noticia {
    max-width: 60vw;
  }

  .noticia p {
    font-size: 1.5em;
  }

  .noticia h1 {
    font-size: 3em;
  }

  body {
    background-color: lightblue;
  }
}

/* Defino los estilos que se van a aplicar cuando el ancho de pantalla sea minimo 1000px */
@media (min-width:1000px) {

  /* escondo el icono hamburguesa y el checkbox */
  nav input {
    display: none;
  }

  nav label {
    display: none;
  }

  /* muestro el nav completo */
  ul.menu-desplegable {
    display: flex;
    gap: 50px;
  }

  a.menu-desplegable {
    display: block;
  }

  /* redimensiono el logo */
  a.menu-desplegable img {
    width: 60px;
    height: 60px;
  }

  /* añado la colocacion de los elementos del nav en horizontal */
  nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


}