@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #a8dd7c;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  line-height: 1.5;

}
main {

  font-family: 'Rubik', sans-serif;
  max-width: 80%;
  margin: 0 auto;
  /*min-width:;*/
  /* margin-left : 15px; */
  /* padding-top: 100px; */
}

h1 {
  font-family: 'Rubik', sans-serif;
  /* padding: 3em 5em 3em 5em; */
  padding-top: 10px;

  /* margin-left: 20px; */
  /* margin-left: 2px;  */
  color: #011c2b;
  text-align: center;
  text-transform: uppercase;
  background-color: antiquewhite;
}

#hueco{
  height: 100px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  /* padding: 3em 5em 3em 5em; */
  padding-top: 20px;

  /* margin-left: 20px; */
  /* margin-left: 2px;  */
  color: #011c2b;
  text-align: left;
  text-transform: uppercase;
  background-color: antiquewhite;
}

a {
  color: #a30cb1;
}

p {
  line-height: 1.5;
  font-family: "Roboto","SUSE", "Bungee Static", "oi";

}

/* posicion, fondo y linea inferior de nav */
nav {
  position: sticky;
  top: 0px;
  /*bottom: 40px;*/
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px solid rgb(26, 61, 177);
  background-color: #f2f5f7;
    z-index: 100;
    font-family: 'Rubik', sans-serif;
}

nav ul {
  display: flex;
  gap: 50px;
  /*espacio entre elementos*/
}

nav img {
  height: 50px;
  width: 50px;
  transition: 0.3s ease;
}

nav img:hover {
  transform: rotate(360deg);
  /*transform: scale(1.2);*/
}

nav li {
  list-style: none;
}

nav li a:hover {
  background-color: #092beb;
  color: #dfd3d4;

}

nav li a {
  padding: 8px 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: none 200ms ease-out;
  color: rgb(26, 61, 177);
}


/* escondo el cuadrado del checkbox */
#menu {
  display: none;
}

/* redimensiono el icono de hamburguesa */
nav svg {
  width: 50px;
  height: 50px;
}

/* escondo el logo y la lista */
.menu-desplegable {
  display: none;
}

/* cuando el checkbox está marcado, hago el logo y la lista visibles */
input:checked~.menu-desplegable {
  display: block;
  text-align: center;
}

/* redimensiono el logo */
/* nav a img {
  width: 30%;
} */

/* quito los estilos predeterminados de la lista */
ul.menu-desplegable {
  list-style: none;
  padding: 0;
}

/* añado separacion a los elementos de la lista */
ul.menu-desplegable li {
  padding: 0.5em;
}

/* pongo estilo a los enlaces de la lista */
ul.menu-desplegable a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4E75FF;
  font-size: 1.5em;
  padding: 0.2em 0.4em;
}

/* cambio los estilos de los enlaces cuando el cursor esta sobre ellos */
ul.menu-desplegable a:hover {
  background-color: #4E75FF;
  color: white;
}

/*          galeria          */

#grid {
 display: grid;
  height: auto;
 /* grid-template: repeat(3, 1fr) / repeat(3, 1fr); */
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: auto;
    margin-bottom: 30px;
   
}

#grid > div {
  background-color: rgb(192, 233, 192);
  text-align: center;
  padding: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 1);
}
#grid > :hover{
    transform: scale(1.1); /* la imagen se amplia*/
    filter: none; /* quito el filtro*/
    transition: all 0.3s ease-in-out; /*modifico como se hace la transicion de las propiedades de normal a hover. /propiedad/tiempo/modo/ */
}

/* Pongo las noticas con imagen float a la izquierda, derecha o ninguno */
.noticia {
  max-width: 80vw;
    margin:auto;
    line-height: 1.5;
     margin-top: 300;

    }


.noticia__img--left {
  max-width: 40vw;
  /* margin: 40vw; */
   float: right;
  /* float: none; */
  /* margin-left: 1em; */
  margin: 10px 0px 10px 20px;
/* box-shadow: 0px 10px 10px  rgba(0, 0, 0, 1); */
  /* margin:0px 20px 0px 20px; */
  /* border-radius: 10%; */

}

.noticia__img--right {
  max-width: 40vw;
  /* margin-left: 40vw; */
  float: left;
   /* margin-right: 1em; */
     margin: 10px 20px 10px 0px;
/* box-shadow: 0px 10px 10px  rgba(0, 0, 0, 1); */
  /* margin:0px 20px 0px 20px; */
  /* border-radius: 10%; */
}
.noticia__img--none {
  /* display: block; */
  /* max-width: 4vw; */
  float:none;
  /* margin: auto; */
  max-width: 10%;
  margin:5px 5px 0px 5px;

 }

/* Pongo las notas de distancia y duración con estilos */
informe {
   width: 300px;
  height: 100px;
  border: 2px solid rgb(4, 104, 34);
    }

footer{
  border-top: 4px solid #09862e;
  background-color: #b9b0b0;
  color: #0e0000;
  padding: 20px; 
  /* margin-top: 10px; */
  text-align: left;
  height: auto;
  /* width: 100vw; */
  /*background-color: #06301c;*/
  background-image: linear-gradient(
    55deg, rgb(165, 221, 184) 0%, rgb(33, 241, 120) 70%);
 /*paddding: 50%;*/
   /* max-width: 100%; */


}
footer div img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  border-radius: 50px 5px 70px 7px;
}

#botones {
  display: flex;
  flex-wrap: wrap;
  /*salta linea*/
  /* justify-content: space-between;
  max-width: 80vw;
  margin: auto; */

}

#indicador {
  width: 15px;
  height: 30px;
  /* border-radius: 100%;
  border: 1px solid rgb(146, 5, 34);*/
  /* padding: 5px; */
  /*background-color: #f2f5f7; */
  position:relative;

  bottom: 40px;
  right: 40px;
}
#boton-arriba2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(146, 5, 34);
  padding: 5px;
  background-color: #f2f5f7;
  position: fixed;
  bottom: 30px;
  right: 25px;
}

#boton-arriba2:hover {
  background-color: #09031f;
  border-style: none;
  width: 43px;
  height: 43px;
  z-index: 1;
}


 


/* @media only screen and (max-width: 990px) {
  body {
    background-color: lightblue;
  }
}*/


         /* galeria          */

/* .galeria {
  display: flex;
  flex-wrap: wrap;
  /*salta linea*/
  /* justify-content: space-between;
  max-width: 80vw;
  margin: auto; */

/* } */ 

/* .galeria div img { */
  /* calcula el ancho para dos columnas restando el espacio del margen*/
  /* width: calc(50% - 1em);
  margin: 0.5em  2em 0.5em 0 ;
  /* filter: rgb(18, 18, 177)(70%); */
  /*filter: grayscale(60%); */
  /* añado filtro en sepia*/
  /*pongo sombra*/
  /* background-color: #3498db;
  border-radius: 10%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1); Desplazamiento horizontal, vertical y Radio de desenfoque */
/* } */

/* .galeria img:hover {
  transform: scale(1.1); */
  /* la imagen se amplia*/
  /* filter: none; */
  /* quito el filtro*/
  /* transition: all 0.3s ease-in-out; */
  /*modifico como se hace la transicion de las propiedades de normal a hover. /propiedad/tiempo/modo/ */
/* } */

/* Defino los estilos que se van a aplicar cuando el ancho de pantalla sea minimo 1000px */
@media screen and (min-width:1000px) {
  .noticia {
    max-width: 60vw;
  }

  .noticia p {
    font-size: 1.5em;
  }

  .noticia h1 {
    font-size: 3em;
  }

  body {
    background-color: lightblue;
  }

  .galeria {
    max-width: 60vw;

  }

  .galeria img {
    /*calcula el ancho para 3 columnas restando el espacio de margen*/
    width: calc(33.33% - 1em);
    margin: 0.5em;

  }
}

/* Defino los estilos que se van a aplicar cuando el ancho de pantalla sea minimo 1000px */
@media (min-width:1000px) {

  /* escondo el icono hamburguesa y el checkbox */
  nav input {
    display: none;
  }

  nav label {
    display: none;
  }

  /* muestro el nav completo */
  ul.menu-desplegable {
    display: flex;
    gap: 50px;
  }

  a.menu-desplegable {
    display: block;
  }

  /* redimensiono el logo */
  a.menu-desplegable img {
    width: 60px;
    height: 60px;
  }

  /* añado la colocacion de los elementos del nav en horizontal */
  nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}