/* Tipos de letra */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Prop+Double+Ink:wght@100..900&family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:ital,wght@0,100..900;1,100..900&display=swap');


/* Cambio de fondo */

body {
  background-color: #a8dd7c;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  /*height: auto;
  width: 100vw;*/
  /*line-height: 1.5;
  color: #032638;
  font-family: "SUSE Mono";*/
}


h1,h2,h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #011c2b;
  text-transform: uppercase;
}

h3 {
background-color: rgb(187, 231, 191);
}

h2 {
background-color: antiquewhite;;
}

h1,h2,h3 strong {
  color: #011c2b;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* h1 em{
   font-size: 50px;
   text-align: left;
} */

a {
  color: #a30cb1;
}

p {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto","SUSE", "Bungee Static", "oi"; */
  padding:2px 3px;
  margin:auto;

}

/* Pongo las noticias con imagen float a la izquierda, derecha o ninguno */
.noticia{
    max-width: 80vw;
    /*margin:20px 20px 20px 20px;*/
    line-height: 1.5;
    /* margin-left: 1em;
    padding-left: 1em; */
    overflow: hidden;
    font-family: "Roboto","SUSE", "Bungee Static", "oi";
  
}

.noticia__img--left{
    max-width:  30vw;
        margin:0px 20px 0px 20px;
    /* float: left;*/
    float: right;
    /* float: none; */
    /* margin-right: 1em; */
}
.noticia__img--right{
    max-width:  40vw;
    float: left;
    margin:20px 20px 20px 0px;
}
.noticia__img--none{
    max-width:  80vw;
    float: none;
    margin:20px 20px 20px 0px;
}

footer{
  border-top: 4px solid #09862e;
  background-color: #b9b0b0;
  color: #0e0000;
  padding: 20px;
  text-align: left;
  height: auto;
  /*width: 100vw;*/
  /*background-color: #06301c;*/
  background-image: linear-gradient(
    55deg, rgb(165, 221, 184) 0%, rgb(33, 241, 120) 70%);
 /*paddding: 50%;*/
  font-family: "Roboto","SUSE", "Bungee Static", "oi";
}

footer div img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  border-radius: 50px 5px 70px 7px;
}

#boton-arriba{
width: 40px;
height: 40px;
border-radius: 100%;
border: 1px solid rgb(146, 5, 34);
padding: 5px;
background-color: #f2f5f7;
position: fixed;
bottom: 30px;
right: 25px;
}

#boton-arriba:hover{
  background-color: #09031f;
  border-style: none;
  width: 43px;
  height: 43px;
}

.contacto svg{
  width: 20px;
  height: 20px;
  color: #09031f;
  scroll-padding-block: auto;

}

#contenedor-caja-footer{
  display: plex;
  justify-content: space-between;
}
 
#caja-mapa{
  text-align: center;
}

#caja-copy{
  text-align: center;
}

/* checkedlist*/
#tabs {
    font-family: "Roboto","SUSE", "Bungee Static", "oi";
    font-size: 16px;
}

#tabs li {
    list-style: none;
    float: left;
    width: 150px;
    height: 120px;
    margin: 0 5px;
}

#tabs li a {
    background-color: #dedede;
    color: #222;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    height: 120px;
    display: block;
    float: left;
    line-height: 35px;
    text-align: center;
}

#tabs li a:hover, 
#tabs li a:active {
    background-color: #ededed;
}

div.content {
    color: #222;
    font-family: Verdana;
    font-size: 12px;
    background-color: #efefef;
    padding: 25px;
    width: 600px;
    height: 350px;
    line-height: 22px;
}

#container {
    /* clear: left;
    clear: right;
    clear: none;  */
    clear: both;
    /*para indicar que no se permiten elementos flotantes a su izqu
    ierda, derecha o ambos lados*/
    height: 400px; /* 350px + 25px (padding sx) + 25px (padding dx) */
    overflow: hidden;
     /*   overflow:scroll; */
}

/* .content .tab1:after{
    left: 122px;
}
.content .tab2:after{
    left: 210px;
} */
.content .tab3:after{
    left: 303px;
    border-top: 0px;
}
@media screen and (min-width:1000px){
    .noticia{
        max-width: 60vw;
    }
  
    .noticia p{
        font-size: 1.5em ;
    }    
   
    .noticia h1{
        font-size: 3em ;
    }
    
     body {
        background-color: lightblue;
    }
}

/* **************     header  **************      */
header {
  background-color: #8bb499;
  height: 100%;
  background-image: url("../image/jonatan-pie-9P_VNWgeOxo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px, 20px;
  /* text-align: center; */
  /* margin: 0;
  padding: 0;*/
  padding: 3em 5em;
}

header img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  border-radius: 50px 50px 70px 70px;
  /* transition: transform 1s; */
  transition: 0.3s ease;
}

header img:hover {
  /* transform: rotate(360deg); */
  transform: scale(1.2);
}

/* header a {
  border: 1px, solid #a30cb1;
  border-radius: 29486px;
  color: #f7f4f5;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transform: rotate(360deg);*/
  /* transition-property: none 5ms ease-out; */
  /* transition-property: color, background; */
/*} */

/* header a:hover {
  background-color: #fff;
  color: #110101;
} */

nav {
  position: sticky;
  top: 0px;
  /*bottom: 40px;*/
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px solid rgb(26, 61, 177);
  background-color: #f2f5f7;
  font-family: "Roboto","SUSE", "Bungee Static", "oi";
     z-index: 100;
}

nav ul {
  display: flex;
  gap: 50px;
  /*espacio entre elementos*/
}

nav img {
  height: 50px;
  width: 50px;
  transition: 0.3s ease;
}

nav img:hover{
  transform: rotate(360deg);
  /*transform: scale(1.2);*/
}

nav li {
  list-style: none;
}

nav li a:hover {
  background-color: #092beb;
  color: #dfd3d4;

}

nav li a {
  padding: 8px 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: none 200ms ease-out;
  color: rgb(26, 61, 177);
}

@keyframes pulse {
  30% {
    transform: scale(1.2);
  }
}
#pulse {
  animation: pulse ease-in 1400ms infinite alternate;
}

main {
  max-width: 80%;
  /*min-width:;*/
  margin: 0 auto;

}

#texto-especial {
  background: #74bb17;
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-family: "Barriecito", "oi", "Roboto", serif;
}

.caja-especial {
  border-left: 2px solid #061430;
  border-bottom: 2px solid #eb2727;
  border-right: 2px solid #061430;
  border-top: 2px solid #eb2727;

}

#lista1 {
  /* font-size:2em;  */
  font-size: 24px;
  font-family: "sans-serif", "arial";
  list-style-type: none;
}

#lista2 {
  font-size: 2em;
  font-family: "arial";
}

.imagen-redondeada {
  border-radius: 15px;
  /* Esto redondea las cuatro esquinas */
  width: 200px;
  /* Opcional: ajusta el tamaño de la imagen */
  height: 200px;
  /* Opcional: ajusta el tamaño de la imagen */
  border: 1px solid #000;
  /* Opcional: añade un borde */
  object-fit: cover;
  /* Para que la imagen no se distorsione si no es cuadrada */
}

.imagen-circular {
  border-radius: 50%;
  /* Esto crea un círculo perfecto si la imagen es cuadrada */
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.contenedor {
  display: flex;
  /* Esto alinea los elementos horizontalmente */
}

.caja {
  width: 10px;
  height: 10px;
  /* Esto cambia la altura y la anchura */
  /*margin-top:20px ;*/
  /* Esto pone la caja separada del top */
  margin: 10px 5px 10px 60px;
  /* Esto pone la caja separada por todos lados en sentido del reloj*/
  padding: 100px;
  /* Esto cambia la posicion del texto en la caja */
  border-width: 5px;
  border-color: rgb(15, 2, 2);
  border-style: solid;
}

#caja-azul {
  background-color: #092beb;
  /* Esto cambia el color */
}

#caja-roja {
  background-color: #f10a1e;
  /* Esto cambia el color */
}

#caja-verde {
  background-color: #14db67;
  /* Esto cambia el color */
  border-radius: 100%;
}

.boton {
  width: 300px;
  height: 20px;
}

#boton {
  background-color: #dfd3d4;
  /* Esto cambia el color */
}

.comentario {
  width: 300px;
  height: 150px;
}

#comentario {
  background-color: #dfd3d4;
  /* Esto cambia el color */
}

/* posicion, fondo y linea inferior de nav */
nav {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid #4E75FF;
}

/* escondo el cuadrado del checkbox */
#menu {
    display: none;
}

/* redimensiono el icono de hamburguesa */
nav svg {
    width: 50px;
    height: 50px;
}

/* escondo el logo y la lista */
.menu-desplegable {
    display: none;
}

/* cuando el checkbox está marcado, hago el logo y la lista visibles */
input:checked~.menu-desplegable {
    display: block;
    text-align: center;
}

/* redimensiono el logo */
nav a img {
    width: 30%;
}
nav img {
    width: 30%;
    height: 30%;
}
/* quito los estilos predeterminados de la lista */
ul.menu-desplegable {
    list-style: none;
    padding: 0;
}

/* añado separacion a los elementos de la lista */
ul.menu-desplegable li {
    padding: 0.5em;
}

/* pongo estilo a los enlaces de la lista */
ul.menu-desplegable a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4E75FF;
    font-size: 1.5em;
    padding: 0.2em 0.4em;
}

/* cambio los estilos de los enlaces cuando el cursor esta sobre ellos */
ul.menu-desplegable a:hover {
    background-color: #4E75FF;
    color: white;
}

/*          galeria          */

#grid {
 display: grid;
  height: auto;
 /* grid-template: repeat(3, 1fr) / repeat(3, 1fr); */
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: auto;
    margin-bottom: 30px;
   
}

#grid > div {
  background-color: rgb(192, 233, 192);
  text-align: center;
  padding: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 1);
}
#grid > :hover{
    transform: scale(1.1); /* la imagen se amplia*/
    filter: none; /* quito el filtro*/
    transition: all 0.3s ease-in-out; /*modifico como se hace la transicion de las propiedades de normal a hover. /propiedad/tiempo/modo/ */
}

/* Aside */

div.aside { 
    /* position:relative; */
    width: 40%;
    padding:2px 3px;
    margin: 5px 5px 20px 20px;
    float: right;
    z-index: -10;
    font-style: italic;
    font-size: 15px;
    color: #d8d1d1;
    background-color: rgb(81, 133, 79);
    overflow: hidden;
}

/* PANELES*/

#paneles-content {
    width: 50vw;
    height: 100%;
    margin: 30px auto;
    border: 2px solid rgb(16, 170, 49);
    padding: 20px;
    background-color: #f7f4f5;

}
/* escondemos los input radio*/
.panel-input {
    display: none;
}

/* estilo del titulo del panel*/

/* h2 {
  font-family: "SUSE","Roboto", "Bungee Static", "oi";
  text-align: center;
} */

/* estilo del label del panel*/

.panel label {
      cursor:pointer;
    display: block;
    border: 1px solid coral;
    /* height: 1.8em; */
    padding: 5px 15px;
    font-weight: 600;
    width: calc(100% - 30px);
    font-family: "Roboto","SUSE", "Bungee Static", "oi";
}

/*pading lateral*/

.panel p {
    padding: 0 15px;
}

.panel {
    margin-bottom: 0px;
}

/*estilos plegado*/
.contenido {
    width: 100%;
    /*border: 1px solid rgb(85, 22, 35);*/
    border: 1px solid transparent;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

/*estilos desplegado*/
.panel-input:checked~div.contenido {
    height: auto;/*cambio el alto*/
    border-color: coral;
    border-top: none;
    margin-bottom: 4px;
    /* margin-right: 1px; */
}

/* Defino los estilos que se van a aplicar cuando el ancho de pantalla sea minimo 1000px */
@media (min-width:1000px) {

    /* escondo el icono hamburguesa y el checkbox */
    nav input {
        display: none;
    }

    nav label {
        display: none;
    }

    /* muestro el nav completo */
    ul.menu-desplegable {
        display: flex;
        gap: 50px;
    }

    a.menu-desplegable {
        display: block;
    }

    /* redimensiono el logo */
    a.menu-desplegable img {
        width: 60px;
        height: 60px;
    }

    /* añado la colocacion de los elementos del nav en horizontal */
    nav {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
    }
}